NUXT_PUBLIC_APP_NAME=Unfogy Starter
NUXT_PUBLIC_APP_VERSION=0.1.0
NUXT_PUBLIC_RELEASE_CHANNEL=development
NUXT_PUBLIC_SUPABASE_URL="https://ui-only.supabase.co"
NUXT_PUBLIC_SUPABASE_KEY="ui-only-local-placeholder"
